/* styles.css */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1600px;

  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #f6f7f8;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

#dataContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
/* /////////////////// header//////////// */
.menu {
  background-color: #fff;
  border-radius: 30px;
  height: 60px;
}

.logoContainer {
  display: flex;
  justify-items: center;
  padding-left: 25px;
  margin-top: 7px;
}
.buttonscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
.menubutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;

  height: 36px;
  width: 140px;
  border-radius: 18px;
  background-color: #fff;
}
.menubutton img {
  padding-right: 10px;
}

.menubutton:hover {
  background-color: #01f0d0;
}

.activeMenucButton {
  background-color: #01f0d0;
  height: 36px;
  border-radius: 18px;
  padding: 10px 10px;
  border: 1px solid transparent;
  width: 120px;
}

/* ////////////////// patients list ///////////////////// */

.patlist,
.diaglist {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  height: 1054px;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  justify-content: space-between;
  padding: 15px;
}

.list-group {
  margin-top: 10px;
  max-height: 960px;
  overflow-x: hidden;
  overflow-y: auto;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;

  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.list-item:hover {
  background-color: #d8fcf7;
}
.list-item-active {
  background-color: #d8fcf7;
}
.patientListItemData {
  display: flex;
  flex-direction: row;
}
.patientListItemData img {
  margin-right: 10px;
  width: 50px;
}

.patientName {
  font-size: 14px;
  font-weight: bold;
}
.patientAge {
  font-size: 12px;
  text-align: left;
  color: #707070;
}
.column_title {
  font-weight: bold;
  text-align: left;
}

/* ///////////// diagnostic list ///////////////// */
.diaglist {
  padding: 15px;
  height: 296px;
}

.diabHeader {
  background-color: #f6f7f8;
  height: 48px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #072635;
  text-align: left;
}

.diaRow {
  color: #072635;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: 1px solid #f6f7f8;
}
.diag-list-group {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* /////////////////// lab results ///////////////// */
.labList {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
}
.lab-list-group {
  color: #072635;
  font-size: 14px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.labresItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  cursor: pointer;
  padding: 10px;
}
.labresItem:hover {
  background-color: #f6f7f8;
}

/* //////////// profile ////////////// */
.profile {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.profile_img {
  width: 200px;
  height: 200px;
  margin-top: 32px;
}
.patientDataLine {
  display: flex;
  flex-direction: row;
}

.patientDataLineDetails {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #072635;
  align-items: start;
  margin-left: 16px;
  margin-bottom: 24px;
}

.dobData {
  margin-top: 3px;
  font-weight: bold;
}
.patient_name {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.profile_col {
  /* height: 1054px; */
}

.showButton {
  width: 220px;
  height: 41px;
  border-radius: 40px;
  color: #072635;
  font-size: 14px;
  font-weight: bold;
  background-color: #01f0d0;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 16px;
}

.buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* /////////////////// diagnositic history ////////////// */
.diagHistory {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.histoyrBlocks {
  display: flex;
}
.histoyrBlock {
  width: 100%;
  height: 242px;
  border-radius: 12px;
  color: #072635;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  padding-top: 16px;
}

.line1 {
  font-size: 16px;
  margin-top: 16px;
}
.line2 {
  font-size: 30px;
  font-weight: bold;
}
.line3 {
  font-size: 14px;
  margin-top: 16px;
}
.block1 {
  background-color: #e0f3fa;
  margin-right: 20px;
}
.block2 {
  background-color: #ffe6e9;
  margin-right: 20px;
}
.block3 {
  background-color: #ffe6f1;
}
.heartindicator {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heartIndcText {
  margin-left: 8px;
}

/* ////////////// chart block /////////////// */
.chartblock {
  background-color: #f4f0fe;
  border-radius: 12px;
  color: #072635;
  padding: 16px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 30px;
}
.chart_title {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.blood-pressur-contianer {
  display: flex;
  flex-direction: column;
  width: 200px;

  align-items: start;
}
.chart-container {
  flex: 1;
}
.systolic {
  display: flex;
  flex-direction: column;
}
.sys-line {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-right: 4px;
}
.circle1 {
  background-color: #e66fd2;
}
.circle2 {
  background-color: #8c6fe6;
}
.sys-text {
  font-size: 14px;
  font-weight: bold;
}
.sys-data {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin-top: 8px;
}
.sys-arrow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
  justify-content: start;
}
.sys-text {
  margin-left: 8px;
}

.separtor {
  height: 1px;
  width: 100%;
  background-color: #cbc8d4;
  margin-top: 12px;
  margin-bottom: 12px;
}
