/* styles.css */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #f6f7f8;
  border: 1px solid red;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

#dataContainer {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
/* /////////////////// header//////////// */
.menu {
  background-color: #fff;
  border-radius: 30px;
  height: 60px;
}

.col,
.col-6 {
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logoContainer {
  display: flex;
  justify-items: center;
  padding-left: 25px;
  margin-top: 7px;
}
.buttonscontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
.menubutton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;

  height: 36px;
  width: 140px;
  border-radius: 18px;
  background-color: #fff;
}
.menubutton img {
  padding-right: 10px;
}

.menubutton:hover {
  background-color: #01f0d0;
}

.activeMenucButton {
  background-color: #01f0d0;
  height: 36px;
  border-radius: 18px;
  padding: 10px 10px;
  border: 1px solid transparent;
  width: 120px;
}

/* ////////////////// patients list ///////////////////// */

.patlist {
  background-color: #fff;
  border-radius: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  padding: 0;
}

.search {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  justify-content: space-between;
  padding: 15px;
}

.list-group {
  margin-top: 10px;
  max-height: 800px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.list-item {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;

  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.list-item:hover {
  background-color: #d8fcf7;
}

.patientListItemData {
  display: flex;
  flex-direction: row;
}
.patientListItemData img {
  margin-right: 10px;
  width: 50px;
}

.patientName {
  font-size: 14px;
  font-weight: bold;
}
.patientAge {
  font-size: 12px;
  text-align: left;
  color: #707070;
}
